<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <mat-card>
        <mat-card-content>
            <mat-checkbox [(ngModel)]="enable">Enable / Disable</mat-checkbox>
            <h1 *ngIf="enable else mytemplate">Enable</h1>
            <ng-template #mytemplate>
                <h1>Inside Template</h1>
            </ng-template>
        </mat-card-content>
    </mat-card>
</body>
</html>